# ========== UNITY ==========
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
.vsconfig

# Ignore Unity Crash Reports
sysinfo.txt

# ========== UNITY Asset Store ==========
*.unitypackage

# ========== VISUAL STUDIO ==========
.vs/
*.csproj
*.sln
*.user
*.suo

# ========== PYTHON (venv) ==========
venv/
.env/
*.pyc
__pycache__/

# ========== GÉNÉRAL ==========
.DS_Store
Thumbs.db
*.log
*.swp

# ========== GROS FICHIERS À RISQUE ==========
*.dll
*.lib
*.exe
*.iso

# ========== VSCODE ==========
.vscode/

# ========== GIT ==========
*.orig
